{% extends 'reviews/base.html' %}
{% load static %}
{% block title %}Review List{% endblock %}

{% block content %}
<div class="row">
  {% for review in reviews %}
    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
      <div class="card bg-light d-flex flex-fill">
        <div class="card-header text-muted border-bottom-0">
          Reviews
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col-7">
              <h2 class="lead"><b>{{ review.title }}</b></h2>
              <p class="text-muted text-sm"><b>By: </b> {{ review.author.username }}</p>
              <ul class="ml-4 mb-0 fa-ul text-muted">
                <li class="small"><span class="fa-li"><i class="fas fa-book"></i></span> {{ review.body|truncatewords:15 }}</li>
              </ul>
            </div>
            <div class="col-5 text-center">
              {% if review.image %}
                <img src="{{ review.image.url }}" alt="{{ review.title }}" class="img-circle img-fluid">
              {% else %}
                <img src="{% static 'img/default.jpg' %}" alt="default" class="img-circle img-fluid">
              {% endif %}
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="text-right">
            <a href="#" class="btn btn-sm bg-teal">
              <i class="fas fa-star"></i> {{ review.rating }}
            </a>
            <a href="{% url 'reviews:review_detail' review.id %}" class="btn btn-sm btn-primary">
              <i class="fas fa-user"></i> View Reviews
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
